.topBar {
    position: relative;
    height: auto;
    width: 100%;
    padding: 25px 0 10px 10px;
    margin-bottom: 20px;
    border-radius: 0 0 15px 15px;
    background-color: #431864;
    
    box-shadow: 0px 1px 5px #000;
    display: flex;
    justify-content: center;
    .muted {
        position: fixed;
        top: 30px;
        left: 20px;
        background: none;
        border: none;
        color: #FEFEFEaf;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1;
    }
    
    h1.logoIcon {
        color:#fff;
        margin: 0 5px;
        font-size: 3rem;
    }
    div.contentTopBar {
        display: flex;
        width: 100%;
        div.boxSubmit {
            padding: 0  20px;
            position: relative;
            input.titleArea {
                width: 100%;
                max-width: 375px;
                border-radius: 5px 5px 0 0;
                border: none;
                padding: 5px 30px 0 5px;
                font-size: 1.2rem;
                font-weight: 400;
            }
            input.titleArea:focus {
                box-shadow: 0 0 0 0;
                outline: none;
            }
            textarea.textArea {
                width: 100%;
                max-width: 375px;
                height: 70px;
                text-align: justify;
                border-radius: 0 0 5px 5px;
                border: none;
                padding: 5px 30px 0 10px;
                font-size: 1rem;
                overflow: none;
                resize: none;
                font-weight: 300;
            }
            textarea:focus {
                box-shadow: 0 0 0 0;
                outline: none;
            }
            button.btn-addPlus {
                position: absolute;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                
                font-size: 1.2rem;
                background: none;
                border: none;
                color: #28143B;
                margin-left: -25px;
                cursor: pointer;
            }
        }
    }
    div.edgesEfect{
        position: absolute;
        top: -11px;
        height: 30px;
        width: calc(100% - 25px);
        border-radius: 0 0 10px 10px;
        background-image: url("../../assets/spiral.svg");
    }
}