.modalWidow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    span.modalBackground {
        position: fixed;
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        background-color: #1715159f;

        z-index: -1;
    }
    
    nav.navBarEditor {
        display: none;
    }

    .tox.tox-tinymce {
        width: calc(100vw - 20%);
        height: calc(100vh - 5%);
    }
}

@media (max-width: 768px) {
    .modalWidow {
        position: fixed;
        background: #FFF;
        
        justify-content: flex-start;
        flex-direction: column;
        span.modalBackground {
            display: none;
        }
        nav.navBarEditor {
            display: flex;
            
            align-items: center;
            justify-content: space-between;

            height: 40px;
            width: 100vw;
            z-index: 1;
            padding: 0 20px;
            background-color: #fff;
            button.saveButton {
                width: auto;
                color: #222F3E;
                background: transparent;
                font-size: 23px;
                text-align: center;
                margin: 5px 0;
                border: 0;
            }

            button.CalcelButton {
                color: #222F3E;
                background: transparent;
                font-size: 23px;
                font-family: 'Poppins';
                border: 0;
            }
        }

        .tox.tox-tinymce {
            width: 100vw;
        }
    }
}