.modalWidow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #1715159f;

    display: flex;
    justify-content: center;
    align-items: center;
    
    .navBarEditor {
        display: none;
    }
}

@media (max-width: 768px) {
    .modalWidow {
        position: fixed;
        background: #FFF;
        
        justify-content: flex-start;
        flex-direction: column;
        .navBarEditor {
            display: flex;
            
            align-items: center;
            justify-content: space-between;

            height: 40px;
            padding: 0 20px;
            background-color: #fff;
            .saveButton {
                width: auto;
                color: #222F3E;
                background: transparent;
                font-size: 23px;
                text-align: center;
                margin: 5px 0;
                border: 0;
            }

            .CalcelButton {
                color: #222F3E;
                background: transparent;
                font-size: 23px;
                font-family: 'Poppins';
                vertical-align: super;
                border: 0;
            }
        }
    }
}
