::-webkit-scrollbar {
    width: 1px;
}
.container {
    max-width: 600px;
    min-height: 300px;
    max-height: calc(100vh - 6vh);
    margin: 30px auto;
    overflow: auto;
    
    border: 0px outset;
    box-shadow: 1px 1px 10px #000;
    padding: 30px;

    background-color: rgba(000, 000, 000, .3);
}
