.container {
    max-width: 700px;

    max-height: calc(100vh - 60px);

    margin: 30px auto;
    overflow: none;
    
    border: 0px outset;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #000;
    padding-top: 25px;

    background-color: #FEFEFEaf;
    .myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -999;
    }
}

@media (max-width: 768px) {
    .container, body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .container {
        width: 100vw;
        max-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-top: 20px;

        border-radius: 0;
        nav.topBar {
            margin: 0;
            .muted {
                display: none;
            }
            div.contentTopBar {
                h1.logoIcon {
                    font-size: 2.1rem;
                    margin: 0;
                }
            }
        }

        main.notion-container {
            min-height: calc(100vh - 155px);
            flex-grow: 3;
            margin: 10px 0;
            flex-wrap: wrap;
            .note-box {
                width: calc(100% - 10px);
            }
        }

        footer.footerContainer {
            bottom: 0;
            border-radius: 0;
            a {
                font-size: 1.3rem;
            }
        }

        .papyruWidow {
            z-index: 1;
            .pageNumber {
                display: static;
                margin-left: 20px;
                margin-bottom: 20px;
            }
            .close {
                z-index: 1;
                font-size: 2rem;
                top: 90vh;
                right: 90vw;
            }
        }
    }
}