@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;500;700&display=swap');
@font-face {
  font-family: 'ja-jp';
  src: url('./assets/ja-jp.ttf');
}
@font-face {
  font-family: 'zh-cn';
  src: url('./assets/zh-cn.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'ja-jp', 'zh-cn', sans-serif;
}
html {
  height: auto;
}

body {
  background-size: cover;
  background-position: center;
  height: auto;

  background-repeat: no-repeat;
  background-color: #171515;
}