.papyruWidow {
    height: 100vh;
    width: 100vw;
    position: fixed;

    background-color: #1715159f;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    .close {
        position: absolute;
        bottom: 90vh;
        left: 95%;
        font-size: 2.2rem;
        
        color: #fff;
    }
    .close:hover {
        color: #3A395F;
    }

    textarea {
        height: 90vh;
    }
    .tox.tox-tinymce {
        width: calc(100vw - 15%);
        resize: none;
    }
    button {
        bottom: 0;
        border: none;
        background: none;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .papyruWidow {
        .close {
            color: #3A395F;
            left: 93%;
        }
        textarea {
            height: 100vh;
        }
        .tox.tox-tinymce {
            width: 100vw;
        }
    }
}